<div class="row mt-2">
  <div class="col-12">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombres</th>
          <th scope="col">Apellidos</th>
          <th scope="col">CI</th>
          <th scope="col"><i class="fas fa-sync" style="cursor: pointer" (click)="cargarAlumnos()"></i></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alumno of alumnos">
          <td>{{ alumno.id }}</td>
          <td>{{ alumno.nombres }}</td>
          <td>{{ alumno.apellidos }}</td>
          <td colspan="2">{{ alumno.doc_identidad }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>